<template>    
    <div class="w-100" >
        <div class="banner text-center" style="background-image: url(https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/images/banner-faq.jpg)">
            <div class="banner-overlay">
                <div class="content w-100 text-white text-center">
                    <h1>Pertanyaan Seputar Diklat</h1>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default ({
    name: 'Faq.Banner',

})
</script>