<template>

        
        
        <div class="container mt-5 text-center">
            Tidak menemukan topik yang kamu cari? <a href="mailto:bdidenpasar@kemenperin.go.id">
            Kirim Pertanyaan ke penyelenggara diklat BDI Denpasar</a>
        </div>

        <div class="container mb-5 mt-5">
                <div class="bg-white p-5 rounded-2 mt-5">
                <p>
                Q : Saya sudah mendaftar di Sisdiklat, tapi tidak bisa login?<br/>
                A : Silahkan cek E-Mail Aktivasi Akun yang terkirim ke E-Mail pribadi anda, pada folder Junk atau Spam Mail. Lalu aktifkan akun.
                </p><p>
                Q : Saya kesulitan upload Foto KTP ukuran 700×400 bagaimana cara ubahnya ya?<br/>
                A : Anda bisa menggunakan Aplikasi “Fast Image Resizer” atau Image Resizer Online di Internet, untuk ubah ukuran piksel fotonya.
                </p><p>
                Q : Saya sudah mendaftar di Sisdiklat, tapi tidak mendapatkan E-Mail pemberitahuan?<br/>
                A : Silahkan cek E-Mail Aktivasi Akun yang terkirim ke E-Mail pribadi anda, pada folder Junk atau Spam Mail. Lalu aktifkan akun.
                </p><p>
                Q : Saya tidak bisa registrasi karena nama saya telah terpakai<br/>
                A : Bisa diubah sedikit namamu saat mendaftar di Sisdiklat, dengan menambahkan Karakter 1x spasi kosong atau tambahkan 1 titik dipaling belakang namamu.
                </p><p>
                Q : Saya tidak bisa registrasi karena User ID telah terpakai<br/>
                A : Silahkan buat dan gunakan nama User ID yang baru saat Registrasi ulang di Sisdiklat.
                </p><p>
                Q : Saya tidak bisa registrasi karena E-Mail telah terpakai<br/>
                A : Silahkan buat dan gunakan akun E-Mail yang baru saat Registrasi ulang di Sisdiklat.
                </p><p>
                Q : Saya tidak bisa mengisi salah satu isian di form pendaftaran sisdiklat<br/>
                A : Silahkan lakukan hapus semua history (dari awal waktu) di Web Browser yang sedang digunakan, tutup kemudian buka untuk kembali akses Sisdiklat di Web Browser tersebut.
                </p><p>
                Q : Untuk Registrasi saya sudah membuat tetapi saat mau login ada tulisan “email anda tidak terdaftar”<br/>
                A : Silahkan chat personal ke kontak Whatsapp Admin Sisdiklat, dengan memberikan informasi UserID, Nama Lengkap dan Alamat E-Mail yang anda daftarkan sebelumnya di Web Sisdiklat.
                </p><p>
                Q : Untuk Registrasi saya sudah membuat tetapi saat mau login ada tulisan “user tidak terdaftar”<br/>
                A : Silahkan chat personal ke kontak Whatsapp Admin Sisdiklat, dengan memberikan informasi UserID, Nama Lengkap dan Alamat E-Mail yang anda daftarkan sebelumnya di Web Sisdiklat.
                </p><p>
                Q : Saya tidak bisa memilih kecamatan/kabupaten/provinsi di form pendaftaran sisdiklat<br/>
                A : Silahkan lakukan hapus semua history (dari awal waktu) di Web Browser yang sedang digunakan, tutup kemudian buka untuk kembali akses Sisdiklat di Web Browser tersebut.
                </p><p>
                Q : Saya sudah selesai Registrasi, tapi E-Mail Sisdiklatnya masih belum masuk, saya sudah cek di Inbox tidak ada.<br/>
                A : Silahkan cek E-Mail nya di folder Junk atau Spam Mail.
                </p><p>
                Q : Saya sudah selesai Registrasi, tapi E-Mail Sisdiklatnya masih belum masuk, saya sudah cek di Spam tidak ada.<br/>
                A : Silahkan cek E-Mail nya di folder Junk Mail.
                </p><p>
                Q : Saya sudah selesai Registrasi, tapi E-Mail Sisdiklatnya masih belum masuk, saya sudah cek di Junk tidak ada.<br/>
                A : Silahkan cek E-Mail nya di folder Spam Mail.
                </p><p>
                Q : Saya kesulitan aktivasi user ID di Sisdiklat<br/>
                A : Silahkan chat personal ke kontak Whatsapp Admin Sisdiklat, dengan memberikan informasi UserID, Nama Lengkap dan Alamat E-Mail yang anda daftarkan sebelumnya di Web Sisdiklat.
                </p><p>
                Q : Saya kesulitan reset password di Sisdiklat<br/>
                A : Silahkan chat personal ke kontak Whatsapp Admin Sisdiklat, dengan memberikan informasi UserID, Nama Lengkap dan Alamat E-Mail yang anda daftarkan sebelumnya di Web Sisdiklat.
                </p><p>
                Q : Saya kesulitan rubah data Nama/Alamat/No. Telepon/ di akun Sisdiklat saya pribadi<br/>
                A : Silahkan chat personal ke kontak Whatsapp Admin Sisdiklat, dengan memberikan informasi UserID, Nama Lengkap dan Alamat E-Mail yang anda daftarkan sebelumnya di Web Sisdiklat.
                </p>
                </div>
        </div>

        

    
</template>
<script>
export default ({
    name: 'Faq.Content',

    data:()=>{
        return{
            faqs:[
    

            ]
        }
    }

})
</script>

