<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sisdiklat">
    <meta name="author" content="anggha.sanjaya@gmail.com">
    <meta name="generator" content="Vue.js">
    <link rel="icon" href="https://bdidenpasar.kemenperin.go.id/wp-content/uploads/2021/10/BDIDPS.png">
    <title>Sisdiklat</title>
    <script src="assets/js/config.js"></script>
    <script>
      // jika ada pesan error dari sistem, silakan tampilkan pada variable dibawah ini
      window.errorMessage=""
    </script>
    
    <!-- Custom styles for this template -->
    <link href="https://bdidenpasar.kemenperin.go.id/wp-content/uploads/2021/10/BDIDPS.png" rel="shortcut icon" />
  </head>
  <body id="app">
    
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>


    <!-- <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script> -->

      
  </body>
</html>

