<template>
    <div v-bind:class="myClass">
        <slot></slot>
    </div>
</template>
<script>
export default {
    name:'Generic.Alert',
    props:['class'],
    data:()=>{
        return {
            myClass:''
        }
    },
    mounted:function(){
        this.myClass='mt-2 alert '+this.class;
    }
}
</script>