<template>

    <Banner />
    <TableComp />

</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import Banner from '@/components/alumni/Banner.vue'

import TableComp from '@/components/alumni/Table.vue'

export default {
  name: 'Alumni',
  components: {
    // HelloWorld
    Banner
    , TableComp
  }
}
</script>
