<template>

    <Banner />
    <Content />

</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import Banner from '@/components/faq/Banner.vue'

import Content from '@/components/faq/Content.vue'

export default {
  name: 'Alumni',
  components: {
    // HelloWorld
    Banner
    , Content
  }
}
</script>
