<template>

    <Welcome />
    <Tile />

</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import Tile from '@/components/home/Tile.vue'
import Welcome from '@/components/home/Welcome.vue'

export default {
  name: 'Home',
  components: {
    // HelloWorld
    Tile, Welcome
  }
}
</script>
