<template>

    <Banner />
    <TableComp />

</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import Banner from '@/components/jadwal/Banner.vue'
import TableComp from '@/components/jadwal/Table.vue'

export default {
  name: 'Jadwal',
  components: {
    // HelloWorld
    Banner,TableComp
  }
}
</script>
