<template>

    <tab route="login"/>
    <form-login :route="$route" />


</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import Tab from '@/components/auth/Tab.vue'
import FormLogin from '@/components/auth/FormLogin.vue'

export default {
  name: 'Login',
  components: {
    // HelloWorld
    Tab,
    FormLogin
  }

}
</script>
