<template>

    <div id="welcome" class="container bg-primary d-flex flex-row flex-wrap rounded-2 text-white shadow-lg">
        <div>
            <div class="mascot-container">
                <img src="https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/images/mascot.png" class="mascot" alt="Mascot">
            </div>
        </div>
        <div class="p-3">
            <h3>Maaf</h3>
            <p>Halaman yang anda akses dalam perbaikan.</p>
        </div>
    </div>
    <!-- <h3 class="text-center"></h3>
    <p></p> -->

</template>

<script>
// @ is an alias to /src


export default {
  name: 'Maintenance',
  components: {
    // HelloWorld
    
  }

}
</script>
