<template>

    <tab route="register" />
    <form-register />


</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import Tab from '@/components/auth/Tab.vue'
import FormRegister from '@/components/auth/FormRegister'

export default {
  name: 'Login',
  components: {
    // HelloWorld
    Tab,
    FormRegister
  }

}
</script>
