<template>
    
    <div class="container bg-white rounded-3 p-4 shadow-lg" style="margin-top:-80px">
        <form action="#" class="form" v-on:submit="handleSubmit">
            <input type="text" name="nama" id="" class="form-control rounded-pill" placeholder="Cari Nama Alumni" ref="nama">
            <a href="#" class="text-decoration-none text-center d-lg-none d-block mt-2" v-on:click="toggleFilter">
                <small>Filter Lanjutan</small>
            </a>
            <div class="d-flex flex-row flex-wrap mt-4">
                <!-- <select class="form-control me-2">
                    <option value="">Semua Diklat</option>
                    <option value="">Diklat A</option>
                    <option value="">Diklat B</option>
                </select> -->
                <div class="flex-grow-1 pe-2 mb-2 d-lg-block" :class="{'d-none':!showFilter}">

                    <input type="text" name="diklat" id="diklat" class="form-control" placeholder="Cari Diklat" ref="diklat">
                </div>

                <div class="flex-grow-1 pe-2  mb-2 d-lg-block" :class="{'d-none':!showFilter}">
                    <select class="form-control" name="provinsi" ref="provinsi">
                        <option value="">Pilih Lokasi</option>
                        <option :value="provinsi" v-for="provinsi,key in dataProvinsi" :key="key">{{provinsi}}</option>
                    </select>
                </div>
                <div class="flex-grow-1 pe-2  mb-2 d-lg-block" :class="{'d-none':!showFilter}">
                    <select class="form-control me-2  mb-2" name="predikat" ref="predikat">
                        <option value="">Semua Predikat</option>
                        <option value="Baik">Baik</option>
                        <option value="Cukup">Cukup</option>
                        <option value="Kurang Memadai">Kurang Memadai</option>
                        <option value="Memuaskan">Memuaskan</option>
                        <option value="Sangat Baik">Sangat Baik</option>
                    </select>
                </div>
                <!-- <select class="form-control" v-model="year">
                    <option :value="year" v-for="year in getYearList" :key="year">{{year}}</option>
                </select> -->
                <div class="flex-grow-1 pe-2 mb-2 d-lg-block">

                    <button class="btn btn-primary form-control">Filter Data</button>
                </div>
            </div>

        </form>

    </div>
</template>
<script>
import axios from 'axios';
export default {
    name:"Alumni.Form",
    data:()=>{
        return {
            // year
            year:null,
            dataProvinsi:[],
            showFilter: false
        }
    },
    mounted:function(){
        this.year=(new Date).getFullYear();
        this.getDataProvinsi();
    },
    methods:{
        handleSubmit(e){
            e.preventDefault();
            const data = {
                diklat:this.$refs.diklat.value,
                provinsi:this.$refs.provinsi.value,
                predikat:this.$refs.predikat.value,
                nama:this.$refs.nama.value
            };
            // console.log({...data});
            this.$emit('submitForm',data)
            // this.$refs.nama 
        },
        async getDataProvinsi(){
            const url = window.__config.provinsiUrl;
                try {
                // const response = await axios.get(url);
                const response = await axios({
                    headers:{
                        'Access-Control-Allow-Origin':'*'
                    },
                    method: 'get',
                    url: url
                });
                // console.log(response.data.data);
                this.dataProvinsi = response.data.data.map(({provinsi})=>provinsi); 
                // return response.data;
            } catch (error) {
                console.error(error);
                // return [];
            }
        },
        toggleFilter(e){
            e.preventDefault();
            this.showFilter = !this.showFilter;
        }
    },
    computed:{
        getYearList(){
            const dt = new Date;
            const curYear = dt.getFullYear();
            let startYear = 2014; 
            const arrayYear=[];
            while(startYear<=curYear){
                arrayYear.push(startYear);
                startYear++;
            }
            return arrayYear;
        },
        
    }
}
</script>
