<template>
    <form-alumni @submitForm="handleSubmit" />
   <div class="container bg-white rounded-3 mt-5 overflow-scroll">
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama Alumni</th>
                    <th>Diklat</th>
                    <th>Lokasi</th>
                    <th>Predikat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody v-if="alumnuses.length>0 && !isLoading">
                <!-- @foreach ($alumnuses as $alumnus) -->
                <tr v-for="alumnus in alumnuses" :key="alumnus.no">
                    <td>{{alumnus.no}}</td>
                    <td>{{alumnus.Nama}}</td>
                    <td>{{alumnus.Diklat}}</td>
                    <td>{{`${alumnus.Kabupaten}-${alumnus.Provinsi}`}}</td>
                    <td>{{alumnus.Predikat}}</td>
                    <td>
                        <!-- <a href="{{route('alumnus.show',['id'=>$alumnus->id])}}" class="btn btn-primary text-white">Info</a> -->
                    </td>
                </tr>
                <!-- @endforeach -->
            </tbody>
            <tbody v-if="isLoading">
                <tr>
                    <td colspan="6">Memuat data</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container mt-5">
        <pagination :page="page" :records="totalRecords" :perRow="rows" @callback="changePage"/>
    </div>
</template>
<script>

import Pagination from '@/components/generic/Paging'
import FormAlumni from '@/components/alumni/Form.vue'
// import qs from 'qs';
import axios from 'axios';

export default {
    name: 'Alumni.Table',
    components:{
        Pagination,
        FormAlumni
    },
    data:()=>{
        return {
            nama:"",
            diklat:"",
            provinsi:"",
            predikat:"",
            page:1,
            rows:20,
            totalRecords:0,
            alumnuses:[],
            isLoading:false
        }
    },
    mounted:function(){
        this.getAlumnus();
        
    },
    methods:{
        async getAlumnus(){
            const url = window.__config.alumniUrl;
            this.isLoading=true;
                try {
                // const response = await axios.post(url,{kode_provinsi:this.id_prov});
                const data = new URLSearchParams();
                data.append('diklat',this.diklat);
                data.append('nama',this.nama);
                data.append('provinsi',this.provinsi);
                data.append('predikat',this.predikat);
                data.append('page',this.page);
                data.append('rows',this.rows);

                // const data = qs.stringify({
                //         'diklat': this.diklat,
                //         'nama': this.nama,
                //         'provinsi': this.provinsi,
                //         'predikat': this.predikat,
                //         'page': this.page,
                //         'rows': this.rows,
                //     })
                  const response = await axios({
                    method: 'post',
                    headers:{
                        'Access-Control-Allow-Origin':'*',
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    url: url,
                    data: data
                  });
                this.alumnuses = response.data.data; 
                this.totalRecords = response.data.total; 
                this.isLoading=false;

            } catch (error) {
                console.error(error);
            }
        },
        changePage(page){
            this.page = page;
            this.getAlumnus();
        },
        handleSubmit({diklat,provinsi,predikat,nama}){
            this.diklat=diklat;
            this.nama=nama;
            this.provinsi=provinsi;
            this.predikat=predikat;
            this.page=1;
            this.getAlumnus();

        }
    }
}
</script>

