<template>
    <!-- @php
    $items = [
        [
            "title"=>"Informasi Tentang Diklat",
            "icon"=>"assets/icons/note.png",
            "overlay"=>"red",
            "background"=>asset('assets/images/info-diklat.png'),
            "link"=>'https://bdi.gapurahost.net/bdi-beranda/layanan/diklat-3-in-1'
        ], 
        [
            "title"=>"Jadwal Diklat Terbaru",
            "icon"=>"assets/icons/calendar.png",
            "overlay"=>"green",
            "background"=>asset('assets/images/jadwal-diklat.png'),
            "link"=>route('schedule')
        ], 
        [
            "title"=>"Alumni Diklat",
            "icon"=>"assets/icons/people.png",
            "overlay"=>"blue",
            "background"=>asset('assets/images/alumni-diklat.png'),
            "link"=>route('alumnus')

        ],
        [
            "title"=>"Pertanyaan Seputar Diklat",
            "icon"=>"assets/icons/faq.png",
            "overlay"=>"purple",
            "background"=>asset('assets/images/faq-diklat.png'),
            "link"=>route('faq')


        ]
];
@endphp -->
<div class="container">

    <div class="d-flex flex-row flex-wrap tile mt-4">
        <!-- @foreach ($items as $item)     -->
            <div class="tile-item" v-for="tile, key in tiles" :key="key">
                <!-- <a href=""> -->
                <router-link  :to="tile.link">
                    <div class="tile-content rounded-3 shadow-lg" :style="{backgroundImage: `url(${tile.background})`}">
                        <div class="overlay rounded-3"
                            :class="['overlay-'+tile.overlay]"
                        ></div>
                         <!-- overlay-{{item.overlay}} -->
                        <div class="overlay overlay-hover rounded-3"></div>
                            <div class="tile-text">
                                <img :src="tile.icon" class="" :alt="tile.title">
                                <!-- <i class="bi bi-file-earmark-text-fill"></i> -->
                                <h4>{{tile.title}}</h4>
                            </div>
                    </div>
                </router-link>
                <!-- </a> -->
            </div>
        <!-- @endforeach -->
    </div>
</div>
</template>

<script>

export default ({
    name: 'Home',
    data:()=>{
        return {
            tiles:[
                {
                    title:"Informasi Tentang Diklat",
                    icon:"https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/icons/note.png",
                    overlay:"red",
                    background:"https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/images/info-diklat.png",
                    link:'diklat'
                }, 
                {
                    title:"Jadwal Diklat Terbaru",
                    icon:"https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/icons/calendar.png",
                    overlay:"green",
                    background:'https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/images/jadwal-diklat.png',
                    link:"jadwal"
                }, 
                {
                    title:"Alumni Diklat",
                    icon:"https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/icons/people.png",
                    overlay:"blue",
                    background:"https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/images/alumni-diklat.png",
                    link:"alumni"

                },
                {
                    title:"Pertanyaan Seputar Diklat",
                    icon:"https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/icons/faq.png",
                    overlay:"purple",
                    background:"https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/images/faq-diklat.png",
                    link:"faq"
                }
            ]
        }
    }
})
</script>
