<template>
    <div id="welcome" class="container bg-primary d-flex flex-row flex-wrap rounded-2 text-white shadow-lg">
        <div>
            <div class="mascot-container">
                <img src="https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/images/mascot.png" class="mascot" alt="Mascot">
            </div>
        </div>
        <div class="p-3">
            <h3>Selamat datang di halaman informasi Diklat BDI Denpasar.</h3>
            <p>Silahkan Masuk atau Registrasi untuk mengelola keperluan diklat.</p>
        </div>
    </div>
</template>

<script>

export default ({
    name: 'Home.Welcome',

})
</script>