<template>

    <div :class="{'d-none':(step!=='Account')}">

        
        <card>
            <div class="mb-4">
                <label for="username">Buat User Name</label>
                <input type="text" class="form-control" name="username" v-model="username" placeholder="Contoh : name123" maxlength="15">
                <alert v-if="error.username!==''" class="alert-danger">{{error.username}}</alert>
            </div>
            
            <div class="mb-4">
                <label for="password">Buat Password</label>
                <input type="password" class="form-control" name="password" v-model="password" placeholder="Masukkan Password" maxlength="15">
            </div>

            <div class="mb-4">
                <label for="confirmpassword">Ulangi Password</label>
                <input type="password" class="form-control" name=""  v-model="confirmpassword" placeholder="Masukkan Kembali Password"  maxlength="15">
                <alert v-if="error.password!==''" class="alert-danger">{{error.password}}</alert>

            </div>
        </card>

        <card>
            <div class="mb-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Masukkan email anda yang aktif" v-model="email" maxlength="30">
            </div>
            <div class="mb-4">
                <label for="confirmemail">Konfirmasi Email</label>
                <input type="email" class="form-control" name="" placeholder="Masukkan email persis dengan email diatas" v-model="confirmemail" maxlength="30">
                <alert v-if="error.email!==''" class="alert-danger">{{error.email}}</alert>
            </div>
        </card>

        <card>
            <label for="hp">Nomor Whatsapp</label>
            <p class="text-primary">
                <small>
                    Nomor Whatsapp akan digunakan untuk berkomunikasi selama diklat berlangsung.
                </small>
            </p>
            <div class="input-group mb-3">
                <button class="btn btn-primary me-2" type="button" id="button-addon1">+62</button>
                <input type="text" class="form-control" placeholder="Contoh : 852345678910" aria-label="" aria-describedby="" name="hp"  v-model="hp"  maxlength="15">
                <!-- <input type="hidden" name="hp"  :value="'+62'+hp"  maxlength="18"> -->

            </div>
                <alert v-if="error.hp!==''" class="alert-danger">{{error.hp}}</alert>
            

        
        </card>

        <alert v-if="validate" class="alert-success">Data yang anda masukkan telah valid, silakan lanjutkan ke form berikutnya</alert>

        <register-nav @navClick="navClick" :showNext="validate"/>

    </div>
</template>
<script>
import Card from '@/components/generic/Card'
import Alert from '@/components/generic/Alert'
import RegisterNav from './Nav'
import dayjs from 'dayjs';

export default {
    name: 'Auth.FormRegister.Account',
    data:()=>{
        return{
            username:"",
            password:"",
            confirmpassword:"",
            email:"",
            confirmemail:"",
            hp:"",
            isValid:false,
            
            // errorUsername:"",
            // errorPassword:"",
            // errorEmail:"",
            // errorHp:"",
        }
    },
    props:[
        'step'
    ],
    components:{
        Card,
        Alert,
        RegisterNav
    },
    methods:{
        navClick(event){
            event.preventDefault();
            this.store();
            this.$emit('navClick',event);
            // console.log(this.step);
        },
        async store(){
            const {username,email,hp} = this;
            const expire = dayjs().add(1,'hour').format('YYYY-MM-DD HH:mm:ss');
            const accountForm = {username,email,hp,expire};
            localStorage.sisAccountForm = JSON.stringify(accountForm);
        },
        loadStorage(){
            const jsonAccountForm = localStorage.sisAccountForm;
            if(jsonAccountForm===undefined) return false;
            const accountForm = JSON.parse(jsonAccountForm);
            const isBefore = dayjs().isBefore(dayjs(accountForm.expire));
            if(isBefore){
                delete accountForm.expire;
                for (const key in accountForm) {
                    this[key] = accountForm[key];
                }
            }else{
                localStorage.removeItem('sisAccountForm');
            }

        }
    },
    mounted:function(){
        this.loadStorage();
    },
    computed:{
        error(){
            const err = {
                username:"",
                password:"",
                email:"",
                hp:"",
            };

            // errorUsername(){
                const patternUsername = /^[a-z0-9_-]{3,16}$/; 
                if(this.username.match(patternUsername)==null){
                    err.username='Periksa username anda, jangan kosong dan jangan gunakan spasi';
                }
            // },

            // errorPassword(){
                if(this.password=="" || (this.password!==this.confirmpassword) ){
                    err.password='Pastikan password dan konfirmasi password sama dan jangan kosong';
                }
            // },

            // errorEmail(){
                const patternEmail = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
                if(this.email.match(patternEmail)==null || (this.email!==this.confirmemail) ){
                    err.email='Pastikan email dan konfirmasi email sama, gunakan email valid dan jangan kosong';

                }
            // },

            // errorHp(){
                const patternMobile = /\(?(?:\d{2,3})?\)?[ .-]?\d{2,4}[ .-]?\d{2,4}[ .-]?\d{2,4}/;
                if(this.hp.match(patternMobile)==null ){
                    err.hp='Pastikan nomor yang anda masukkan valid dan jangan dikosongkan';
                }
            // },

            return err;
        },

        validate(){
                // return true;
            return Object.values(this.error).join('')==="";
                // return (this.errorUsername+this.errorPassword+this.errorEmail+this.errorHp)==="";

            }
    }
}
</script>