<template>

    <div :class="{'d-none':(step!=='Finish')}">

        <card>
            <label for="" class="mb-3">Lembar Persetujuan</label>
            <div class="d-flex flex-row flex-no-wrap">

                <div class="form-check me-2">
                    <input class="form-check-input custom" type="checkbox" value="1" id="setuju" name="setuju" v-model="setuju">
                </div>
                <p>
                    Menyatakan bahwa seluruh data dalam form adalah benar. Apabila di kemudian hari ditemukan bahwa data dalam form ini tidak benar maka saya bersedia dikenakan sanksi sesuai ketentuan yang berlaku.
                </p>
            </div>
        </card>

        <register-nav @navClick="navClick" :showNext="false">
            <input type="submit" name="reg-umum" id="submit" class="btn btn-primary btn-lg flex-grow-1"  value="Daftar" :disabled="!validate">
        </register-nav>

    </div>
</template>
<script>
import Card from '@/components/generic/Card'
import RegisterNav from './Nav'

export default {
    name: 'Auth.FormRegister.Finish',
    props:[
        'step'
    ],
    data:()=>{
        return{
            setuju:false
        }
    },
    components:{
        Card,RegisterNav
    },
    methods:{
        navClick:function(event){
            // console.log(event);
            this.$emit('navClick',event);
        }
    },
    computed:{
        validate:function(){
            return this.setuju;
        }
    }
}
</script>