<template>
    <div :class="{'d-none':(step!=='Foto')}">

        <card>
            <h2 class="text-primary">Mohon Perhatian</h2>
            <p>
                Sebelum anda melakukan proses upload Pas Foto, mohon penuhi persyaratan berikut terlebih dahulu demi kelancaran proses upload file Pas Foto.
            </p>
            <ul class="fw-bold">
                <ol>1. File foto / scan  Pas Foto harus berwarna.</ol>
                <ol>2. Pastikan foto / scan KTP tidak Terpotong atau miring.</ol>
                <ol>3. Pas foto menggunakan latar berwarna merah atau biru.</ol>
                <ol>4. Objek foto menggunakan kemeja putih.</ol>
                <ol>5. Objek foto tidak menggunakan aksesori seperti kacamata, masker atau make up yang berlebihan.</ol>
                <ol>6. Format file .jpg</ol>
                <ol>7. Ukuran maksimal file adalah 3MB</ol>
                <ol>8. Dimensi foto adalah 3x4cm (300px x 400px) </ol>
            </ul>
            <img src="https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/images/dummy-photo.jpg" alt="Contoh Foto" class="w-100">
            
        </card>

        <card>
            <label for="foto" class="mb-3">Upload File Pas Foto</label>
            <div class="upload-wrapper mb-3">
                <input type="file" class="" name="foto" accept="image/*" @change="onFileChange">
                <img :src="foto" width="300" />
                <p v-if="this.foto==''">Klik atau geser file gambar ke kotak ini</p>
            </div>
            <alert class="alert-danger" v-if="errorFoto!==''">{{errorFoto}}</alert>
            <alert class="alert-success" v-if="validate">
                File yang anda masukkan valid. Klik gambar jika ingin mengganti atau silakan melanjutkan ke tahap berikutnya. 
            </alert>
            <!-- <div class="progress file">
                <div class="progress-bar" role="progressbar" style="width: 80%" 
                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                ></div>
                <p class="caption">Upload (80%)</p>
            </div> -->
        </card>
        <register-nav @navClick="navClick" :showNext="validate" />


    </div>


</template>
<script>
import Card from '@/components/generic/Card'
import Alert from '@/components/generic/Alert'
import RegisterNav from './Nav'

export default {
    name: 'Auth.FormRegister.Foto',
    props:[
        'step'
    ],
    components:{
        Card,Alert,RegisterNav
    },
    data:()=>{
        return {
            foto:"",
        }
    },
    methods:{
        onFileChange:function(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length){
                return;
            }
            const bytes = files[0].size;

            // const fileMBSize =     bytes / (1024*1024));
            // console.log(fileMBSize);
            if(bytes<(1024*1024*3)) {
                this.createImage(files[0]);
            }else{
                this.removeImage(e);
            }
            
            console.log(bytes);
                
            },
        createImage:function(file) {
            // var foto_ktp = new Image();
            var reader = new FileReader();
            var vm = this;

            reader.onload = (e) => {
                vm.foto = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        removeImage: function (e) {
            e.preventDefault();
            this.foto = '';
        },
        navClick(event){
            event.preventDefault();
            this.$emit('navClick',event);
            // console.log(this.step);
        },
        
    },
    computed:{
        errorFoto:function(){
            if(this.foto=='')
                return "Pastikan ukuran dan format file anda gunakan sesuai."
            return ""
        },
        validate:function(){
            return this.errorFoto=="";
        },
        styleUploader:function(){
            if(this.foto!==""){
                return {
                    backgroundImage:'none'
                };
            }
            return {}
        }
    }
    
}
</script>