<template>
    <div :class="{'d-none':(step!=='Identitas')}">

        <card>
            <label for="ktp">Nomor Induk KTP / Kartu Pelajar</label>
            <ul class="text-primary">
                <li><small>Terdiri dari angka</small></li>
            </ul>

            <input type="number" min="0" max="99999999999999999999" class="form-control" name="ktp" v-model="ktp" maxlength="20" placeholder="Masukkan 16 digit nomor induk KTP">
            <alert class="alert-danger" v-if="error.ktp!==''">{{error.ktp}}</alert>
        </card>

        <card>
            <div class="mb-2">
                <label for="nama">Nama Lengkap</label>
                <ul class="text-primary">
                    <li><small>Pastikan nama lengkap sesuai dengan KTP</small></li>
                    <li><small>Nama lengkap akan digunakan di sertfikat</small></li>
                </ul>
                <input type="text" class="form-control" name="nama" v-model="nama"  placeholder="Masukkan nama lengkap sesuai KTP" pattern="[a-zA-Z\s].{1,}" >
                <alert class="alert-danger" v-if="error.nama!==''">{{error.nama}}</alert>

            </div>
            <div class="mb-2">
                <label for="id_status_jk">Jenis Kelamin</label>
                <div class="d-flex d-flex-row">

                    <div class="form-check me-3">
                        <input type="radio" class="form-check-input mt-3" id="id_status_jk_1" name="id_status_jk" v-model="id_status_jk" value="1">
                        <label class="form-check-label" for="id_status_jk_1">
                            Laki-Laki
                        </label>
                    </div>

                    <div class="form-check">
                        <input type="radio" class="form-check-input mt-3" id="id_status_jk_2" name="id_status_jk" v-model="id_status_jk" value="2">
                        <label class="form-check-label" for="id_status_jk_2">
                            Perempuan
                        </label>
                    </div>
                </div>
                <alert class="alert-danger" v-if="error.id_status_jk!==''">{{error.id_status_jk}}</alert>

            </div>

            <div class="mb-2">
                <label>Tanggal lahir (Tanggal / Bulan / Tahun)</label>
                <div class="d-flex d-flex-row justify-content-around">
                    <div class="w-25 me-2">
                        <select name="" id="tgl" class="form-control" v-model="tgl">
                            <option :value="date" v-for="date in generateDate" :key="date">{{date}}</option>
                        </select>
                    </div>
                    <div class="w-25 me-2">
                        <select name="" id="bln" class="form-control" v-model="bln">
                            <option :value="month" v-for="month in generateMonth" :key="month">{{month}}</option>
                        </select>
                    </div>
                    <div class="w-50">
                        <select name="" id="thn" class="form-control" v-model="thn">
                            <option :value="year" v-for="year in generateYear" :key="year">{{year}}</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="tgl_lahir" :value="tgl_lahir">
                <alert class="alert-danger" v-if="error.tgl_lahir!==''">{{error.tgl_lahir}}</alert>

            </div>
            <div class="mb-2">
                <label for="tmp_lahir">Tempat Lahir</label>
                <input type="text" class="form-control" name="tmp_lahir" v-model="tmp_lahir"  placeholder="Tempat Lahir sesuai KTP" >
                <alert class="alert-danger" v-if="error.tmp_lahir!==''">{{error.tmp_lahir}}</alert>
            </div>

            <div class="mb-2">
                <label for="id_pddkn">Pendidikan Terakhir</label>
                <select class="form-control" name="id_pddkn" v-model="id_pddkn">
                    <option class="z" value="1">SD</option><option class="z" value="2">SMP</option><option class="z" value="3">SMA</option><option class="z" value="4">SMK</option><option class="z" value="5">D1</option><option class="z" value="6">D2</option><option class="z" value="7">D3</option><option class="z" value="8">D4</option><option class="z" value="9">S1</option><option class="z" value="10">S2</option>                                        
                </select>
                <alert class="alert-danger" v-if="error.id_pddkn!==''">{{error.id_pddkn}}</alert>
            </div>

            <div class="mb-2">
                <label for="id_agama">Agama</label>
                <select class="form-control" name="id_agama" id="agama" required="" v-model="id_agama">
                    <option class="z" value="1">Hindu</option>
                    <option class="z" value="2">Buddha</option>
                    <option class="z" value="3">Kristen Katolik</option>
                    <option class="z" value="4">Kristen Protestan</option>
                    <option class="z" value="5">Islam</option>
                    <option class="z" value="6">Konghucu</option>
                </select>
                <alert class="alert-danger" v-if="error.id_agama!==''">{{error.id_agama}}</alert>
            </div>

        </card>

        <card>
            <div class="mb-4">
                <label for="address">Alamat</label> <br>
                <ul class="text-primary">
                    <li>Tanpa perlu disertai Provinsi, Kabupaten atau Kecamatan</li>
                </ul>
                <input v-model="alamat" type="text" class="form-control" name="alamat" row="3" placeholder="Contoh : Jalan Kemenangan no 5">
                <alert class="alert-danger" v-if="error.alamat!==''">{{error.alamat}}</alert>
            </div>

            <div class="mb-4">

            <label for="id_prov">Provinsi</label>
            <select name="id_prov" id="id_prov" class="form-control" v-model="id_prov" v-on:change="changeProvinsi">
                <!-- <option value="1">Bali</option> -->
                <option v-for="provinsi,key in dataProvinsi" :key="key" :value="provinsi.kode_provinsi">{{provinsi.provinsi}}</option>
            </select>
            <alert class="alert-danger" v-if="error.id_prov!==''">{{error.id_prov}}</alert>
            </div>

            <div class="mb-4">

                <label for="id_kab">Kabupaten  / Kota</label>
                <select  name="id_kab" id="id_kab" class="form-control" v-model="id_kab">
                    <option v-for="kabupaten in dataKabupaten" :value="kabupaten.kode_kabupaten" :key="kabupaten.kode_kabupaten">{{kabupaten.kabupaten}}</option>
                </select>
                <alert class="alert-danger" v-if="error.id_kab!==''">{{error.id_kab}}</alert>
            </div>

            <div class="mb-4">

                <label for="kecamatan">Kecamatan</label>
                <input v-model="kecamatan" type="text" name="kecamatan" id="kecamatan" class="form-control" maxlength="50">
                <alert class="alert-danger" v-if="error.kecamatan!==''">{{error.kecamatan}}</alert>

            </div>
            <div class="mb-4">

                <label for="desa">Desa / Kelurahan</label>
                <input v-model="desa"  type="text" name="desa" id="desa" class="form-control" maxlength="50">
                <alert class="alert-danger" v-if="error.desa!==''">{{error.desa}}</alert>

            </div>
        </card>

        <card>
            <label for="status_pekerjaan">Status Pekerjaan</label>
            <select name="status_pekerjaan" id="status_pekerjaan" class="form-control" v-model="status_pekerjaan" v-on:change="changeKerja">
                <option :value="2">Belum</option>
                <option :value="1">Sudah Bekerja</option>
                <option :value="3">Memiliki Usaha</option>
            </select>
            <alert class="alert-danger" v-if="error.status_pekerjaan!==''">{{error.status_pekerjaan}}</alert>

        </card>
        <!-- <div :class="{'d-none':status_pekerjaan!=3}"> -->
        <card  v-if="status_pekerjaan==3">
                <identitas-usaha :dataProvinsi="dataProvinsi" ref="formusaha"/>
        </card>
        <!-- </div> -->

        <card v-if="status_pekerjaan==1">
            <div class="mb-4">
                <label for="tempat_kerja">Tempat Kerja</label>
                <input v-model="tempat_kerja"  type="text" name="tempat_kerja" id="tempat_kerja" class="form-control" maxlength="50">
                <alert class="alert-danger" v-if="error.tempat_kerja!==''">{{error.tempat_kerja}}</alert>
            </div>
            <div class="mb-4">
                <label for="tahun_bekerja">Tahun Kerja</label>
                <input v-model="tahun_bekerja"  type="number" name="tahun_bekerja" id="tahun_bekerja" class="form-control" min="2010" max="2100">
                <alert class="alert-danger" v-if="error.tahun_bekerja!==''">{{error.tahun_bekerja}}</alert>
            </div>
        </card>

    <!-- <alert v-if="validate" class="alert-success">Data yang anda masukkan telah valid, silakan lanjutkan ke form berikutnya</alert> -->

    <register-nav @navClick="navClick" :showNext="validate"/>
    </div>


        

</template>
<script>
import Card from '@/components/generic/Card'
import Alert from '@/components/generic/Alert'
import IdentitasUsaha from './Identitas.Usaha'
import qs from 'qs';
import RegisterNav from './Nav'
import axios from 'axios';
import dayjs from 'dayjs';

export default {
    name: 'Auth.FormRegister.Identtitas',
    data:()=>{
        return{
            ktp:"",
            nama:"",
            id_status_jk:1,
            tgl:1,
            bln:1,
            thn:( (new Date).getFullYear()-17),
            tmp_lahir:"",
            id_pddkn:1,
            id_agama:1,

            alamat:"",
            id_prov:null,
            id_kab:null,
            kecamatan:"",
            desa:"",

            tempat_kerja:"",
            tahun_bekerja:(new Date).getFullYear(),

            status_pekerjaan:2,

            dataProvinsi:[],
            dataKabupaten:[],

            isValidateUsaha:true,
        }
    },
    props:[
        'step'
    ],
    components:{
        Card,
        Alert,
        RegisterNav,
        IdentitasUsaha
    },
    mounted(){
        this.loadStorage();
        this.getDataProvinsi();
        
    },
    methods:{

        changeProvinsi(e){
            e.preventDefault();
            this.getKabupaten();
        },
        async getKabupaten(){
            const url = window.__config.kabupatenUrl;
            const data = qs.stringify({
                        kode_provinsi: this.id_prov,
                    })
                try {
                // const response = await axios.post(url,{kode_provinsi:this.id_prov});
                  const response = await axios({
                    method: 'post',
                    headers:{
                        'Access-Control-Allow-Origin':'*',
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    url: url,
                    data: data
                  });
                this.dataKabupaten = response.data.data; 
                if(this.id_kab==null)
                    this.id_kab = this.dataKabupaten[0].kode_kabupaten;

            } catch (error) {
                console.error(error);
            }
        },
        navClick(event){
            event.preventDefault();
            // this.validateUsaha();
            if(this.validateUsaha() || this.status_pekerjaan!=3){
                this.$emit('navClick',event);
            }
            this.store();
        },
        async getDataProvinsi(){
            const url = window.__config.provinsiUrl;
                try {
                // const response = await axios.get(url);
                const response = await axios({
                    headers:{
                        'Access-Control-Allow-Origin':'*',
                    },
                    method: 'get',
                    url: url
                });
                // console.log(response.data.data);
                this.dataProvinsi = response.data.data; 
                if(this.id_prov==null)
                    this.id_prov = this.dataProvinsi[0].kode_provinsi;
                this.getKabupaten();
                // return response.data;
            } catch (error) {
                console.error(error);
                // return [];
            }
        },
        changeKerja(){
            // console.log(this.$refs.formusaha);
        },
        validateUsaha(){
            
            const formusaha = this.$refs.formusaha;
            if(formusaha===null || formusaha===undefined) return true;
            formusaha.store();
            return formusaha.validate && this.status_pekerjaan==3;
        },

        async store(){
            // const _this=this;
            const  {ktp,nama,id_status_jk,tgl,bln,thn,tmp_lahir,id_agama,id_pddkn,alamat,id_prov,id_kab,kecamatan,desa,tempat_kerja,tahun_bekerja,status_pekerjaan} =this;
            const identityForm = {ktp,nama,id_status_jk,tgl,bln,thn,tmp_lahir,id_agama,id_pddkn,alamat,id_prov,id_kab,kecamatan,desa,tempat_kerja,tahun_bekerja,status_pekerjaan};
            const expire = dayjs().add(1,'hour').format('YYYY-MM-DD HH:mm:ss');
            identityForm.expire = expire; 
            localStorage.sisIdentityForm = JSON.stringify(identityForm);
        },
        loadStorage(){
            const jsonIdentityForm = localStorage.sisIdentityForm;
            if(jsonIdentityForm===undefined) return false;
            const identityForm = JSON.parse(jsonIdentityForm);
            const isBefore = dayjs().isBefore(dayjs(identityForm.expire));
            if(isBefore){
                delete identityForm.expire;
                for (const key in identityForm) {
                    this[key] = identityForm[key];
                }
            }else{
                localStorage.removeItem('sisIdentityForm');
            }

        }
    },
    computed:{
        validate:function(){

            return Object.values(this.error).join('')=="";

        },
        tgl_lahir:function(){
            return `${this.thn}-${this.bln}-${this.tgl}`;
        },
        error:function(){

            const err={
                ktp:"",
                nama:"",
                id_status_jk:"",
                tgl_lahir:"",
                tmp_lahir:"",
                id_agama:"",
                id_pddkn:"",
                alamat:"",
                id_prov:"",
                id_kab:"",
                kecamatan:"",
                desa:"",
                status_pekerjaan:"",
                tahun_bekerja:"",
                tempat_kerja:"",
                usaha:""
            };

            // errorKtp:function(){
                if(this.ktp=="" || this.ktp.length>20 )
                    err.ktp="Mohon lengkapi data nomor ktp/kartu pelajar dengan data valid";
            // },

            // errorNama:function(){
                if(this.nama=="")
                    err.nama="Mohon lengkapi nama";

            // },
            // errorId_status_jk:function(){
                if(this.id_status_jk!=1 && this.id_status_jk!=2)
                    err.id_status_jk="Mohon tentukan jenis kelamin";
            // },
            // errorTgl_lahir:function(){
                if(this.tgl=="" || this.bln=="" || this.thn=="")
                    err.tgl_lahir="Mohon tentukan tanggal lahir";
            // },
            // errorTmp_lahir:function(){
                if(this.tmp_lahir=="")
                    err.tmp_lahir="Mohon lengkapi tempat lahir";
            // },
            // errorId_pddkn:function(){
                if(this.id_pddkn<1)
                    err.id_pddkn="Mohon tentukan pendidikan terakhir";
            // },
            // errorId_pddkn:function(){
                if(this.id_agama<1)
                    err.id_agama="Mohon tentukan agama anda";
            // },
            // errorAlamat:function(){
                if(this.alamat=="")
                    err.alamat="Mohon lengkapi alamat tinggal anda";

            // },
            // errorId_prov:function(){
                if(this.id_prov<1)
                    err.id_prov="Mohon tentukan provinsi";
            // },
            // errorId_kab:function(){
                if(this.id_kab<1)
                    err.id_kab="Mohon tentukan kabupaten";
            // },
            // errorKecamatan:function(){
                if(this.kecamatan=="")
                    err.kecamatan="Mohon lengkapi kecamatan";
            // },
            // errorDesa:function(){
                if(this.desa=="")
                    err.desa="Mohon lengkapi desa / keluarahan";
            // },
            // errorStatus_pekerjaan:function(){
                if(this.status_pekerjaan<1 || this.status_pekerjaan>3)
                    err.status_pekerjaan="Mohon tentukan status perkerjaan anda"
            // },
            // errorTahun_bekerja:function(){
                if(this.status_pekerjaan==1 && this.tahun_bekerja=="")
                    err.tahun_bekerja="Mohon tentukan tahun kerja anda";
            // },
            // errorTempat_kerja:function(){
                if(this.status_pekerjaan==1 && this.tempat_kerja=="")
                    err.tempat_kerja="Mohon tentukan tempat kerja anda"

            // },
            // errorUsaha:function(){
                if(this.status_pekerjaan==3)
                    err.usaha=this.isValidateUsaha?"":"Lengkapi data usaha anda";
            // },
            return err;
        },
        
        generateYear:function(){
            const year=[];
            const currentYear = (new Date).getFullYear();
            const endYear = currentYear-17;
            const startYear = currentYear-70;
            for(let i=endYear; i>startYear; i--){
                year.push(i)
            }
            return year;
        },
        generateMonth:function(){
            const month=[];
            for(let i=1; i<=12; i++){
                month.push(i)
            }
            return month;
        },
        generateDate:function(){
            const date=[];
            for(let i=1; i<=31; i++){
                date.push(i)
            }
            return date;
        },
        


    }
}
</script>