<template>
            <h4 class="text-primary">Informasi Usaha</h4>
            <div class="mb-4">
                <label for="usaha">Nama Usaha</label>
                <input type="text" maxlength="100" class="form-control" name="usaha" v-model="usaha" placeholder="">
                <alert class="alert-danger" v-if="error.usaha!==''">{{error.usaha}}</alert>
            </div>


            <div class="mb-4">
                <label for="produk">Produk</label>
                <input type="text" maxlength="100" class="form-control" name="produk" v-model="produk" placeholder="">
                <alert class="alert-danger" v-if="error.produk!==''">{{error.produk}}</alert>
            </div>


            <div class="mb-4">
                <label for="alamat_usaha">Alamat Usaha</label>
                <textarea maxlength="200" class="form-control" name="alamat_usaha" v-model="alamat_usaha"></textarea>
                <alert class="alert-danger" v-if="error.alamat_usaha!==''">{{error.alamat_usaha}}</alert>
            </div>


            <div class="mb-4">
                <label for="id_provinsi_usaha">Provinsi</label>
                <select name="id_provinsi_usaha" id="id_provinsi_usaha" class="form-control" v-model="id_provinsi_usaha" v-on:change="changeProvinsiUsaha">
                    <!-- <option value="1">Bali</option> -->
                    <option v-for="provinsi,key in dataProvinsi" :key="key" :value="provinsi.kode_provinsi">{{provinsi.provinsi}}</option>
                </select>
                <alert class="alert-danger" v-if="error.id_provinsi_usaha!==''">{{error.id_provinsi_usaha}}</alert>
            </div>

            <div class="mb-4">

                <label for="id_kab_usaha">Kabupaten  / Kota</label>
                <select  name="id_kab_usaha" id="id_kab_usaha" class="form-control" v-model="id_kab_usaha">
                    <option v-for="kabupaten in dataKabupaten" :value="kabupaten.kode_kabupaten" :key="kabupaten.kode_kabupaten">{{kabupaten.kabupaten}}</option>
                </select>
                <alert class="alert-danger" v-if="error.id_kab_usaha!==''">{{error.id_kab_usaha}}</alert>
            </div>

            <div class="mb-4">

                <label for="kecamatan_usaha">Kecamatan</label>
                <input v-model="kecamatan_usaha" type="text" name="kecamatan_usaha" id="kecamatan_usaha" class="form-control" maxlength="50">
                <alert class="alert-danger" v-if="error.kecamatan_usaha!==''">{{error.kecamatan_usaha}}</alert>

            </div>
            <div class="mb-4">

                <label for="desa_usaha">Desa / Kelurahan</label>
                <input v-model="desa_usaha"  type="text" name="desa_usaha" id="desa_usaha" class="form-control" maxlength="50">
                <alert class="alert-danger" v-if="error.desa_usaha!==''">{{error.desa_usaha}}</alert>

            </div>


            <div class="mb-4">

                <label for="telp_usaha">Telepon</label>
                <div class="input-group mb-3">
                    <button class="btn btn-primary me-2" type="button" id="button-addon2">+62</button>
                    <input type="number" class="form-control" placeholder="Contoh : 852345678910" aria-label="" aria-describedby="" name="telp_usaha"  v-model="telp_usaha"  maxlength="15">

                </div>
                    <alert v-if="error.telp_usaha!==''" class="alert-danger">{{error.telp_usaha}}</alert>
            </div>

        

       


        

</template>
<script>
import Alert from '@/components/generic/Alert'
import qs from 'qs';
import axios from 'axios';
import dayjs from 'dayjs';

export default {
    name: 'Auth.FormRegister.Identitas.Usaha',
    data:()=>{
        return{
            usaha:"",
            produk:"",
            alamat_usaha:"",
            id_provinsi_usaha:1,
            id_kab_usaha:null,
            kecamatan_usaha:'',
            desa_usaha:'',
            telp_usaha:'',
            
            // dataProvinsi:[],
            dataKabupaten:[],
        }
    },
    props:[
        'dataProvinsi'
    ],
    components:{
        Alert,
    },
    mounted(){
        if(this.dataProvinsi===undefined)
            this.id_provinsi_usaha = this.dataProvinsi[0].kode_provinsi;

        this.loadStorage();
        this.getKabupaten();
    },
    methods:{
        changeProvinsiUsaha(e){
            e.preventDefault();
            this.getKabupaten();
        },
        async getKabupaten(){
            const data = qs.stringify( {
                        kode_provinsi: this.id_provinsi_usaha,
                    });
            const url = window.__config.kabupatenUrl;
                try {
                // const response = await axios.post(url,{kode_provinsi:this.id_prov});
                  const response = await axios({
                    method: 'post',
                    headers:{
                        'Access-Control-Allow-Origin':'*',
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    url: url,
                    data:data
                  });
                this.dataKabupaten = response.data.data; 
                if(this.id_kab_usaha==null)
                    this.id_kab_usaha = this.dataKabupaten[0].kode_kabupaten;

            } catch (error) {
                console.error(error);
            }
        },
        async store(){
            // const _this=this;
            const  {usaha,produk,alamat_usaha,id_provinsi_usaha,id_kab_usaha,kecamatan_usaha,desa_usaha,telp_usaha} =this;
            const bizForm = {usaha,produk,alamat_usaha,id_provinsi_usaha,id_kab_usaha,kecamatan_usaha,desa_usaha,telp_usaha};
            const expire = dayjs().add(1,'hour').format('YYYY-MM-DD HH:mm:ss');
            bizForm.expire = expire; 
            localStorage.sisBizForm = JSON.stringify(bizForm);
        },
        loadStorage(){
            const jsonBizForm = localStorage.sisBizForm;
            if(jsonBizForm===undefined) return false;
            const bizForm = JSON.parse(jsonBizForm);
            const isBefore = dayjs().isBefore(dayjs(bizForm.expire));
            if(isBefore){
                delete bizForm.expire;
                for (const key in bizForm) {
                    this[key] = bizForm[key];
                }
            }else{
                localStorage.removeItem('sisBizForm');
            }

        }
    },
    computed:{
        
        


        validate:function(){
            
            return Object.values(this.error).join('')==='';

        },
        
        error:function(){
            const err = {
                usaha:"",
                produk:"",
                alamat_usaha:"",
                id_provinsi_usaha:"",
                id_kab_usaha:"",
                kecamatan_usaha:'',
                desa_usaha:'',
                telp_usaha:'',
            };
            const temp = 'Mohon lenkapi'
            if(this.usaha==""){
                err.usaha=`${temp} Nama Usaha`;
            }
            if(this.produk==""){
                err.produk=`${temp} Nama Produk`
            }
            if(this.alamat_usaha==""){
                err.alamat_usaha=`${temp} Alamat Usaha`
            }
            if(this.id_provinsi_usaha==""){
                err.id_provinsi_usaha=`${temp} Provinsi `
            }
            if(this.id_kab_usaha==""){
                err.id_kab_usaha=`${temp} Kabupaten`
            }
            if(this.kecamatan_usaha==""){
                err.kecamatan_usaha=`${temp} Kecamatan`
            }
            if(this.desa_usaha==""){
                err.desa_usaha=`${temp} Desa`
            }
            if(this.telp_usaha==""){
                err.telp_usaha=`${temp} Telp`
            }
            return err;

        }

    }
}
</script>