<template>

    <div style="max-width:100%; width:600px; margin:0px auto;" class="pt-5">

        <start :step="step" @navClick="navigate"/>
        <form class="row" method="POST" enctype="multipart/form-data" :action="registerUrl">
        <!-- <form method="POST" enctype="multipart/form-data" :submit="handleSubmit">  -->
            <account :step="step"  @navClick="navigate" />
            <identitas :step="step" @navClick="navigate"/>
            <ktp :step="step" @navClick="navigate"/>
            <foto :step="step" @navClick="navigate"/>
            <finish :step="step" @navClick="navigate"/>
        </form>
        <thanks :step="step"/>
        <!-- <register-nav v-if="step!=='Start'&&step!=='Thanks'" @nav-click="navigate" /> -->
    </div>
</template>
<script>
// import Card from '@/components/generic/Card'
// import RegisterNav from './Nav'
import Start from './Start'
import Account from './Account'
import Identitas from './Identitas'
import Foto from './Foto'
import Ktp from './Ktp'
import Finish from './Finish'
import Thanks from './Thanks'

export default {
    name: 'Auth.FormRegister',
    data: ()=>{
        return {
            step:"Start",
            steps:["Start","Account","Identitas","Foto","Ktp","Finish","Thanks"]
        }
    },
    components:{
        // Card,
        // RegisterNav,
        Start,
        Account,
        Identitas,
        Foto,
        Ktp,
        Finish,
        Thanks
    },
    methods:{
        navigate(event){
            event.preventDefault();
            const dir=event.target.dataset.nav;
            if(dir=="next"){
                this.moveNext();
            }else{
                this.movePrev();
            }
            // console.log(dir);
            // console.log(this.step);
        },
        moveNext(){
             const stepIndex = this.steps.findIndex((step)=>step==this.step);
             this.step = this.steps[stepIndex+1]||this.steps[this.steps.length-1];
        },
        movePrev(){
            const stepIndex = this.steps.findIndex((step)=>step==this.step);
            this.step = this.steps[stepIndex-1]||this.steps[0];
        },
        handleSubmit(e){
            e.preventDefault();
            // e.
        }
    },
    computed:{
        registerUrl:()=>{
            return window.__config.registerUrl;
        }
    }
}
</script>