<template>
    <div :class="{'d-none':(step!=='Ktp')}">

        <card>
            <h2 class="text-primary">Mohon Perhatian</h2>
            <p>
                Sebelum anda melakukan proses upload foto KTP, mohon penuhi persyaratan berikut terlebih dahulu demi kelancaran proses upload file KTP.
            </p>
            <ul class="fw-bold">
                <ol>1. File foto / scan KTP harus berwarna.</ol>
                <ol>2. Pastikan foto / scan KTP tidak Terpotong atau miring.</ol>
                <ol>3. Format file .jpg</ol>
                <ol>4. Ukuran maksimal file adalah 3 MB</ol>
                <ol>5. Dimensi foto adalah 700 x 400px</ol>
            </ul>
            <img src="https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/images/dummy-ktp.jpg" alt="Contoh Ktp" class="w-100">
        </card>

        <card>
            <label for="foto_ktp" class="mb-3">Upload File KTP</label>

            <div class="upload-wrapper mb-3" :style="styleUploader">
                <input type="file" class="" id="foto_ktp" name="foto_ktp" accept="image/*" @change="onFileChange">
                <img :src="foto_ktp" width="300" />
                <p v-if="foto_ktp==''">Klik atau geser file gambar ke kotak ini</p>
            </div>
            <alert class="alert-danger" v-if="errorFoto_ktp!==''">{{errorFoto_ktp}}</alert>
            <alert class="alert-success" v-if="validate">
                File yang anda masukkan valid. Klik gambar jika ingin mengganti atau silakan melanjutkan ke tahap berikutnya. 
            </alert>

            <div class="progress file d-none" style="height: 48px;">
                <div class="progress-bar" role="progressbar" style="width: 12%" 
                aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"
                ></div>
                <p class="caption">Upload (12%)</p>
            </div>
        </card>

        <register-nav @navClick="navClick" :showNext="validate"/>

    </div>

</template>
<script>
import Card from '@/components/generic/Card'
import Alert from '@/components/generic/Alert'
import RegisterNav from './Nav'

export default {
    name: 'Auth.FormRegister.Ktp',
    props:[
        'step'
    ],
    data:()=>{
        return {
            foto_ktp:"",
        }
    },
    methods:{
        onFileChange:function(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length){
                return;
            }
            const bytes = files[0].size;

            // const fileMBSize =     bytes / (1024*1024));
            // console.log(fileMBSize);
            if(bytes<(1024*1024*3)) {
                this.createImage(files[0]);
            }else{
                this.removeImage(e);
            }
            
            console.log(bytes);
                
            },
        createImage:function(file) {
            // var foto_ktp = new Image();
            var reader = new FileReader();
            var vm = this;

            reader.onload = (e) => {
                vm.foto_ktp = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        removeImage: function (e) {
            e.preventDefault();
            this.foto_ktp = '';
        },
        navClick(event){
            event.preventDefault();
            this.$emit('navClick',event);
            // console.log(this.step);
        },
    },
    components:{
        Card,Alert,RegisterNav
    },
    computed:{
        errorFoto_ktp:function(){
            if(this.foto_ktp=='')
                return "Pastikan ukuran dan format file anda gunakan sesuai."
            return ""
        },
        validate:function(){
            return this.errorFoto_ktp=="";
        },
        styleUploader:function(){
            if(this.foto_ktp!==""){
                return {
                    backgroundImage:'none'
                };
            }
            return {}
        }
    }
}
</script>