<template>
    <div class="d-flex flex-row flex-wrap mt-4">
        <a class="btn btn-outline-primary btn-lg bg-white me-3 ps-5 pe-5" href="#" data-nav="prev"  @click="handleClick">Kembali</a>
        <a v-if="isShowNext" class="btn btn-primary btn-lg flex-grow-1" href="" data-nav="next"  @click="handleClick">Selanjutnya</a>
        <slot></slot>
    </div>
</template>
<script>
export default {
    name:'Auth.FormRegister.Nav',
    props:{

        showNext: {
            type: Boolean,
            default: true
      }
    },
    methods:{
        handleClick:function(event){
            // console.log(event);
            this.$emit('nav-click',event);
        }
    },
    computed:{
        isShowNext:function(){
            return this.showNext;
        }
    }
}
</script>