<template>
    <div :class="{'d-none':(step!=='Start')}">
        <div class="alert alert-danger" v-if="errorMsg!=''">
            <p>{{errorMsg}}</p>
            <p>Mohon periksa kembali data anda</p>
        </div>
        <card>
            <h2 class="text-primary">Mohon Perhatian</h2>
            <p>
                Sebelum anda melakukan proses registrasi, diharapkan sudah <br/>
                mempersiapkan beberapa dokumen berikut demi kelancaran proses<br/> registrasi:
            </p>
            <ul>
                <ol class="text-primary">1. KTP yang masih berlaku</ol>
                <ol class="text-primary">2. Pas Foto Digital</ol>
                <ol>3. Email untuk verifikasi</ol>
                <ol>4. Nomor whatsapp yang masih aktif</ol>
            </ul>
            <p>
                Jika sudah, klik tombol 'Mulai Registrasi'
            </p>
            <a class="btn btn-primary btn-lg text-white shadow-lg w-100" href="#"  data-nav="next"  @click="handleClick">Mulai Registrasi</a>
        </card>
    </div>

</template>
<script>
import Card from '@/components/generic/Card'
export default {
    name: 'Auth.FormRegister.Start',
    props:[
        'step'
    ],
    components:{
        Card
    },
    methods:{
        handleClick:function(event){
            // console.log(event);
            this.$emit('navClick',event);
        }
    },
    computed:{
        errorMsg(){
            return this.$route.query.pesan || '';
        }
    }
}
</script>