<template>

    <div :class="{'d-none':(step!=='Thanks')}">

        <div class="d-flex flex-wrap flex-row justify-content-around">
            <div >
                <img src="{{ asset('assets/images/mascot.png')}}" class="" alt="Mascot">
            </div>
            <div class="w-50" >
                <h3>Terima Kasih</h3>
                <p>Selanjutnya, silahkan aktivasi akun via email dan melakukan proses Login / Masuk di Sisdiklat untuk mendaftar diklat.</p>
                <a href="{{route('login')}}" class="btn btn-primary text-white btn-lg w-100">Masuk</a>
            </div>
        </div>


    </div>
</template>
<script>
// import Card from '@/components/generic/Card'
export default {
    name: 'Auth.FormRegister.Thanks',
    props:[
        'step'
    ],
    components:{
        // Card
    }
}
</script>