@extends('layouts.public')
@section('page-name')Jadwal Diklat @endsection
@section('banner')
    {{-- @include('schedule.banner') --}}
@endsection
@section('body-class') bg-white @endsection

@section('content')
    
<div style="max-width:100%; width:600px; margin:0px auto;" class="pt-5">

    <h1>Detail Jadwal</h1>
    <h5>Pembuatan Aset Animasi 3D angkatan XV (Baraka)</h5>

    <table class="table custom">
        <tbody>
            <tr>
                <td>Tanggal Mulai</td><td>: 9 Februari 2022</td>
            </tr>
            <tr>
                <td>Tanggal Berakhir</td><td>: 30 Februari 2022</td>
            </tr>
            <tr>
                <td>Lokasi</td><td>: Jalan WR. Suprataman No, 302, Tohpati
                    Denpasar, Bali.</td>
            </tr>
            <tr>

                <td>Mitra Penyelenggara</td><td>: Baraka Studio</td>
            </tr>
        </tbody>
    </table>
    <p>Mendesain, membuat dan memodelkan aset-aset dalam film animasi. Diklat ini diselenggarakan di Balai Diklat Industri Denpasar, Kota Denpasar, Provinsi Bali.<br/>
Diklat ini diselenggarakan dari tanggal 29-06-2021 - 03-08-2021.<br/>
Software yang akan digunakan pada diklat ini yaitu Autodesk Maya.</p>
<p>
Berminat untuk ikut?<br/>
Langsung saja daftar lewat tombol di bawah ini.</p>

<a href="" class="btn py-3 px-5 btn-primary text-white" href="r{{route('register')}}">Daftar Sekarang</a>
</div>

    

@endsection

