<template>
    <div class="container bg-white rounded-3 p-4 shadow-lg" style="margin-top:-80px">
        <form action="#" class="form" v-on:submit="handleSubmit">
            <input type="text" name="search" v-model="search" id="" class="form-control rounded-pill" placeholder="Cari Judul Diklat" ref="search">
            <a href="#" class="text-decoration-none text-center d-lg-none d-block mt-2" v-on:click="toggleFilter">
                <small>Filter Lanjutan</small>
            </a>
            <div class="d-flex flex-row flex-wrap mt-4">
                <div class="flex-grow-1 pe-2 mb-2 d-lg-block" :class="{'d-none':!showFilter}">
                    <select class="form-control me-2" name="provinsi" ref="provinsi">
                        <option value="">Pilih Lokasi</option>
                        <option :value="provinsi" v-for="provinsi,key in dataProvinsi" :key="key">{{provinsi}}</option>
                    </select>
                </div>
                <div class="flex-grow-1 pe-2 mb-2 d-lg-block" :class="{'d-none':!showFilter}" >
                    <select class="form-control" name="sertifikasi" ref="sertifikasi">
                        <option value="">Sertifikasi</option>
                        <option value="Ya">Ya</option>
                        <option value="Tidak">Tidak</option>
                    </select>
                </div>
                <div class="flex-grow-1 pe-2 mb-2 d-lg-block" :class="{'d-none':!showFilter}">
                    <select class="form-control" ref="tahun" name="tahun">
                        <option value="">Tahun</option>
                        <!-- @php
                            $ymax = date('Y')+3; $y=2015;
                        @endphp
                        @while ($y<$ymax) -->
                            <option :value="year" v-for="year in getYearList()" :key="year">{{year}}</option>
                            <!-- @php
                                $y++
                            @endphp
                        @endwhile -->
                    </select>
                </div>
                <div class="flex-grow-1 pe-2 mb-2 d-lg-block" >
                    <button class="btn btn-primary form-control">Filter Data</button>
                    
                </div>
            </div>

        </form>

    </div>

</template>
    
<script>
import axios from 'axios';

export default ({
    name: 'Jadwal.Form',
    data: ()=>{
        return {
            diklat:'',
            yearList:[],
            dataProvinsi:[],
            showFilter: false

        }
    },
    mounted:function(){
        // const yearList = (function(){
            
        // })();
        // // console.log(yearList);
        // this.yearList = yearList;
        this.getDataProvinsi();
    },
    methods:{
        getYearList(){
            const dt = new Date;
            const curYear = dt.getFullYear();
            let startYear = 2014; 
            const arrayYear=[];
            while(startYear<=curYear){
                arrayYear.push(startYear);
                startYear++;
            }
            return arrayYear;
        },
        handleSubmit(e){
            e.preventDefault();

            const data = {
                search:this.$refs.search.value,
                provinsi:this.$refs.provinsi.value,
                tahun:this.$refs.tahun.value,
                sertifikat:this.$refs.sertifikasi.value,
            };
            this.$emit('submitForm',data);
        },
        async getDataProvinsi(){
            const url = window.__config.provinsiUrl;
                try {
                // const response = await axios.get(url);
                const response = await axios({
                    headers:{
                        'Access-Control-Allow-Origin':'*'
                    },
                    method: 'get',
                    url: url
                });
                // console.log(response.data.data);
                this.dataProvinsi = response.data.data.map(({provinsi})=>provinsi); 
                // return response.data;
            } catch (error) {
                console.error(error);
                // return [];
            }
        },
        toggleFilter(e){
            e.preventDefault();
            this.showFilter = !this.showFilter;
        }
    }


})
</script>