<template>
    <!-- <form-jadwal @submitForm="handleSubmit"/> -->
    <div class="container bg-white rounded-3 mt-5 overflow-auto">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama Diklat</th>
                        <th>Tanggal Mulai</th>
                        <th>Tanggal Berakhir</th>
                        <th>Tipe</th>
                        <th>Sertifikat</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody v-if="schedules.length>0">
                    <tr v-for="schedule, key in schedules" :key="key">
                        <td>{{schedule.no}}</td>
                        <td>{{schedule.nama_diklat}}</td>
                        <td>{{schedule.tgl_mulai}}</td>
                        <td>{{schedule.tgl_berakhir}}</td>
                        <td>{{schedule.tipe}}</td>
                        <td>{{schedule.sertifikasi}}</td>
                        <!-- <td> -->

                                <!-- <a href="" class="btn btn-primary text-white">Detail</a> -->
                            
                                <!-- <a href="{{route('schedule.show',['id'=>$schedule->id])}}" class="btn btn-secondary text-primary">Penuh</a> -->
                            
                        <!-- </td> -->
                    </tr>
                </tbody>
                <tbody v-if="isLoading">
                    <tr>
                        <td colspan="7">Memuat data</td>
                    </tr>
                </tbody>
                <tbody v-if="schedules.length<1">
                    <tr>
                        <td colspan="7">Data tidak ditemukan</td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div class="container mt-5">
        <pagination :page="page" :records="totalRecords" :perRow="perRow" @callback="changePage"/>
    </div>
    
</template>
<script>
import axios from 'axios';
import Pagination from '@/components/generic/Paging'
// import FormJadwal from '@/components/jadwal/Form.vue';
export default {
    name: 'Jadwal.Table',
    components:{
        // FormJadwal,
        Pagination
    },
    data:()=>{
        return {
            schedules:[],
            page:1,
            perRow:20,
            
            diklat:"",
            provinsi:"",
            sertifikat:"Ya",

            totalRecords:0,
            isLoading:false
        }
    },
    computed:{

        
    },
    mounted:function(){
        this.getSchedule();
    },
    methods:{
        async getSchedule(){
            const url = window.__config.diklatUrl;
            this.isLoading=true;
                try {
                // const response = await axios.post(url,{kode_provinsi:this.id_prov});
                  const response = await axios({
                    headers:{
                        'Access-Control-Allow-Origin':'*'
                    },
                    method: 'get',
                    url: url,
                    data: {
                        search: this.diklat,
                        provinsi: this.provinsi,
                        sertifikat: this.sertifikat,
                        page: this.page,
                        rows: this.rows,
                    }
                  });
                this.schedules = response.data.data; 
                this.totalRecords = response.data.total; 

            } catch (error) {
                console.error(error);
            }
                this.isLoading=false;

        },
        changePage(page){
            // console.log('receive callback');
            // console.log(page);
            this.page=page;
        },
         handleSubmit({search,sertifikat}){
            this.search=search;
            this.sertifikat=sertifikat;
            this.page=1;
            this.getSchedule();

        }
    }

}
</script>