<template>
  <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
          <div class="container">
            <router-link class="navbar-brand" to="bdi">
                <img src="https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/images/logo.png" alt="">
            </router-link>
            <router-link class="navbar-brand" to="/">
                Sisdiklat BDI Denpasar
            </router-link>
            <button class="navbar-toggler" type="button" v-on:click="menuToggle" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" :class="{show:showMenu}" id="navbarCollapse">
                <ul class="navbar-nav me-auto ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <router-link  class="nav-link" to="diklat">Info</router-link>

                    </li>
                    <li class="nav-item">
                        <router-link  class="nav-link" to="jadwal" v-on:click="menuToggle">Jadwal</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link  class="nav-link" to="alumni" v-on:click="menuToggle">Alumni</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link  class="nav-link" to="faq" v-on:click="menuToggle">Pertanyaan</router-link>
                    </li>
                </ul>
                <div class="d-flex">
                <router-link  class="btn btn-primary me-2 text-white" to="login" v-on:click="menuToggle">Masuk</router-link>
                <router-link  class="btn btn-outline-primary" to="register" v-on:click="menuToggle">Registrasi</router-link>

                </div>
            </div>
            <!-- <div id="nav">
              <router-link to="/">Home</router-link> |
              <router-link to="/about">About</router-link>
            </div> -->
          </div>
      </nav>
    </header>

    <main>
        <!-- @yield('banner') -->

        <div class="" id="content">
            <!-- @yield('content') -->
            
            <router-view/>
        </div>

    <footer class="container-fluid">
        <div class="container">
            <div class="d-flex flex-row justify-content-between">

              <div class="">
                <router-link class="text-white text-decoration-none" to="bdi"> <i class="bi bi-house"></i> Website BDI Denpasar</router-link>
              </div>
  
              <div class="">
                <router-link class="text-white text-decoration-none" to="login">Masuk</router-link> | 
                <router-link class="text-white text-decoration-none" to="register">Registrasi</router-link>
              </div>
              <div class="">
                        
                        

                        <router-link  class="text-white text-decoration-none" to="/">Beranda</router-link> |
                        <router-link  class="text-white text-decoration-none" to="diklat">Info</router-link> |

                        <router-link  class="text-white text-decoration-none" to="jadwal">Jadwal</router-link> |
                        
                        <router-link  class="text-white text-decoration-none" to="alumni">Alumni</router-link> |

                        <router-link  class="text-white text-decoration-none" to="faq">Pertanyaan</router-link>

                    <!-- {{-- <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> --}} -->
              </div>
            </div>
            
        </div>
    </footer>
    </main>
  
  
</template>

<style lang="scss">

</style>
<script>
export default {
    name:"Layout.Public",
    data:function(){
        return {menuMobile:false}
    },
    computed:{
        showMenu:function(){
            return this.menuMobile;
        }
    },
    methods:{
        menuToggle:function(e){
            e.preventDefault();
            this.menuMobile=!this.menuMobile;
        }
    }

}
</script>
