<template>
    <!-- <VuePagination :options="{template: Template }"/> -->
    <!-- <pagination :records="10000" v-model="page" :per-page="100"  /> -->
    <!-- <h1>tes</h1> -->
    <nav aria-label="...">
        <ul class="pagination  justify-content-center">

            <li class="page-item"  @click="handleClick(1,$event)" v-if="sPage>1" ><a class="page-link" href="#">&lt;&lt;</a></li>
            <li class="page-item me-2"  @click="handleClick(sPage-1,$event)" v-if="sPage>1" ><a class="page-link" href="#">&lt;</a></li>

            <!-- <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li> -->
            <li class="page-item" :class="{active:(sPage==item)}" v-for="item in renderList" :key="item" @click="handleClick(item,$event)"><a class="page-link" href="#">{{item}}</a></li>

            <li class="page-item ms-2" @click="handleClick(sPage+1,$event)" v-if="sPage<totalPages"><a class="page-link" href="#">&gt;</a></li>
            <li class="page-item" @click="handleClick(totalPages,$event)" v-if="sPage<totalPages"><a class="page-link" href="#">&gt;&gt;</a></li>

        </ul>
    </nav>
</template>

<script>
// import Pagination from 'vue-pagination-2';
// import Template from './Template.vue'
export default {
    name: 'Paging',
    components:{
        // Template,
        // Pagination
    
    },
    props: ['page','records','perRow'],
    data: ()=>{
        return {
            sPage: 1,
            // sRecords:100,
            // sPerRow:20 
        }
    },
    methods: {
        
        handleClick:function(page,event){
            event.preventDefault();
            
            this.sPage = page;
            console.log('emit callback');
            console.log(page);
            this.$emit('callback',page);
        },
        goTo:function(event){
            event.preventDefault();
            const nav = event.target.parentNode.dataset.nav;
            // console.log(nav);
            this.sPage=parseInt(nav);
        }
    },
    computed:{
        renderList(){
            const pages = [],range=4;
            let lim=Math.ceil(this.getRecords/this.perRow) ;
            // let lim=Math.ceil(this.records/this.perRow ;
            // lim++;
            // console.log({lim,range});
            for(let i=1; i<=lim; i++){
                pages.push(i);
            }
            if(pages.length>range){
                console.log({spageRange : this.sPage+range});
                console.log({length: pages.length});
                if(this.sPage+range>=pages.length)
                    return pages.slice(pages.length-range-1,range+1);
                

                return pages.slice(this.sPage-1,(this.sPage-1+range));
            }
            // if()
            return pages;
        },
        totalPages(){
            let lim=Math.ceil(this.getRecords/this.perRow) ;
            return lim;
        },
        getRecords(){
            return this.records;
        }
    }
}
</script>
