<template>
    <div style="max-width:100%; width:600px; margin:0px auto;" class="pt-5"> 
        <card>
            <div class="alert alert-danger" v-if="errorMsg!=''">
                <p>{{errorMsg}}</p>
            </div>
            <form :action="loginUrl" method="POST" class="form">
                <div class="mb-3" v-if="isLogin">
                    <label for="username" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="username" placeholder="" name="username" required>
                </div>
                <div class="mb-3" v-if="isLogin">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="" required name="password">
                </div>
                <div class="mb-3" v-if="!isLogin">
                    <label for="email" class="form-label">Email</label>
                    <p>
                    <small class="text-primary">Masukkan email anda untuk dan klik reset password untuk mengirim permintaan.</small>
                    </p>
                    <input type="email" class="form-control" id="email" placeholder="" required name="email">
                </div>
                <div class="d-flex d-flex-row" v-if="isLogin">
                    <button type="submit" class="btn btn-primary btn-lg text-white shadow-lg w-100 me-3">Masuk</button>
                    <a href="" class="btn btn-secondary btn-lg text-primary shadow-lg w-100 " @click="switchReset">Lupa Password</a>
                </div>
                <div class="d-flex d-flex-row" v-if="!isLogin">
                    <button type="submit" class="btn btn-primary btn-lg text-white shadow-lg">Reset Password</button>
                </div>
            </form>
        </card>
    </div>
</template>
<script>
import Card from '@/components/generic/Card'
export default {
    name: 'Auth.FormLogin',
    components:{
        Card
    },
    props:['route'],
    data:function(){
        return{isLogin:true}
    },
    computed:{
        loginUrl(){
            if(this.isLogin){
                return window.__config.loginUrl;
            }
            return window.__config.resetPasswordUrl;
        },
        errorMsg(){
            return this.$route.query.pesan || this.$route.query['reset?pesan'] || '';
        }
    },
    methods:{
        switchReset:function(e){
            e.preventDefault();
            this.isLogin=false;
        },
    }
}
</script>