<template>
    <div style="max-width:100%; width:800px; margin:0px auto" class="pt-5">

        <div class="d-flex flex-wrap">
            <router-link to="login" class="flex-grow-1 btn btn-lg " 
                :class="{ 'btn-outline-primary bg-white': isLogin, 'btn-secondary text-primary': !isLogin}" 
            >Masuk</router-link>
            <router-link to="register" class="flex-grow-1 btn btn-lg"
                :class="{ 'btn-outline-primary bg-white': !isLogin, 'btn-secondary text-primary': isLogin}" 

            >Registrasi</router-link>
        </div>

    </div>
</template>
<script>
export default {
    name: 'Auth.Tab',
    props:['route'],
    data:()=>{
        return {
            isLogin:true,
        }
    },
    mounted:function(){
        if(this.route=='register'){
            this.isLogin=false;
        }else{
            this.isLogin=true;
        }
        
    }
}
</script>