@import 'variables';
.navbar-nav {
    font-family: $headings-font-family;
    font-weight: 400;
}

.navbar-nav .nav-item a.nav-link{
    padding: 20px 20px;
}
.navbar-nav .nav-item a.nav-link:hover {
    background-color: $secondary;
}