// Required
// @import "../../node_modules/bootstrap/scss/functions";
@import '/node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import "variables";
@import "/node_modules/bootstrap/scss/bootstrap";
@import "/node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import 'navbar';

body{
    line-height: 38px;
}
.table th{
    color: $primary;
}


.pagination .active{
    box-shadow: $box-shadow-lg;
}

label{
    color: $primary;
    font-weight: 600;
    line-height: 50px;
}

// input.form-control, input.form-control:focus{
//     background-color: $secondary;
//     border:none;
//     color:$primary;
// }

select {
    background-image: url("https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/images/chevron.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
  }
.btn{
    font-family: 'Poppins';
    padding: 15px 21px;
}
.btn.btn-primary{
    color: #fff;
}
.img-format{
    position: relative;
}
.img-format i{
    right: 0px;
    position: absolute;
    margin-top: 10px;
    margin-right: 20px;
    color:$white;
    padding: 0px;
    line-height: 0px;
    border-radius: 50%;
    font-size: 33px;
    // padding:4px;
    // border: solid 1px;
}

.img-format.img-format-ok i{
    background-color: $primary;
    // border-color: $primary;
}

.img-format.img-format-error i{
    background-color: $danger;
    // border-color: $danger;
    
}
.upload-wrapper{
    border-radius: $border-radius;
    border-width: 4px;
    border-color:$primary;
    border-style: dashed;
    background-color: $body-bg;
    background-image: url("https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/images/plus.png");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    min-height: 300px;
    text-align: center;
    color:$primary;
}
.upload-wrapper input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.upload-wrapper p{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0%;
}

.progress.file{
    height: 48px;
    position: relative;
}

.progress.file .caption{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: 11px;
    color: #555;
}
.progress.file .progress-bar{
    background: linear-gradient(258.03deg, #9C94FF 24.72%, rgba(90, 106, 241, 0.79) 68.84%);
}
  
.form-check-input.custom{
    border: solid 3px #0F67C3;
    width: 30px;
    height: 30px;
    background-color: #fff;
    
}
.form-check-input.custom:checked{
    background-color: #fff;
    background-image: url("https://bdi-sisdiklat.s3.ap-southeast-1.amazonaws.com/assets/images/checkbox.png");
    background-size: contain;
    border: none;
}

// .locbar {
//     border-radius:5px;
    
//     background-color:#fff;
//     height:35px;
//     padding-left:10px;
//   }
  
// .locbar .item {
//     float:left;
//     display:inline-block;
//     line-height:35px;
//     padding-left:5px;
//     font-family:Arial;
//     border-top:2px solid $primary;
//     border-bottom:2px solid $primary;
    
// }

// .locbar .arrow {
//     float:left;
//     position:relative;
//     transform:rotate(-45deg) skew(-15deg, -15deg);
//     display:inline-block;
//     // box-shadow:1px 1px 3px 0px rgba(0,0,0,0.15);
//     border-bottom:2px solid $primary;
//     border-right:2px solid $primary;
//     width:19px;
//     height:19px;
//     top:8px;
//     left:-8px;
// }

.locbar{
    @extend .d-flex;
    @extend .flex-row;
    // @extend .flex-no-wrap;
    @extend .shadow-lg;
    @extend .rounded-2;
    @extend .bg-white;
    @extend .justify-content-between;
    @extend .mt-3;
    @extend .mb-3 ;
}

.locbar .locitem{
    @extend .p-2 ;
    

    @extend .flex-grow-1;
    @extend .text-center;
    // @extend .rounded-2;
    color: $gray-600;
    
}
.locbar .locitem.done{
    border-top: solid 3px $primary;
    border-bottom: solid 3px $primary;
    color:$primary;
}
.locbar .locitem:first-child{
    border-radius:8px 0px 0px 8px;
    border-left: solid 3px $primary;
}
.locbar .active.locitem:first-child{
    border-radius:8px 8px 8px 8px;
    // border-left: solid 3px $primary;
}
.locbar .locitem.active{
    border-radius:0px 8px 8px 0px;
    border-top: solid 3px $primary;
    border-bottom: solid 3px $primary;
    border-right: solid 3px $primary;

    border-radius:inherit 8px 8px inherit;

    color:$primary;
    font-weight: 600;
}




#content{
    margin-top: 56px;
    min-height: 80vh;
  }
  
  #welcome{
    margin-top: 178px;
  }
  
  body{
      background-color: #deecfe;
  }
  .bg-purple{
    background-color:#7683FF;
    color:#fff;
  }
  
  .mascot-container{
    position: relative;
    min-width: 318px;
    min-height: 100px;
    height: 100%;
    
  }
  .mascot-container::before{
    content: " ";
  }
  .mascot{
    position: absolute;
    bottom: 0;
    width: 206px;
  
    margin: 0px 49px 0px 63px;
  }
  
  
  
  .rounded-8{
    border-radius: 8px;
  }
  
  .rounded-16{
    border-radius: 16px;
  }
  
  .tile .tile-item{
    width: 50%; 
    height:260px;
    padding-top: 7px;
    padding-bottom: 7px;
    
  }
  .tile .tile-item:nth-child(odd){
    padding-right: 7px;
  }
  .tile .tile-item:nth-child(even){
    padding-left: 7px;
  }
  
  .tile .tile-item .tile-content{
    display:block; 
    width:100%; 
    height:100%;
    background-color:#fff;
    position: relative;
  }
  
  .tile .tile-content .tile-text{
    position: absolute;
    bottom: 0px;
    margin: 0px 18px 18px 47px;
  }
  
  footer {
    background-color:#6F93EE;
    color:#fff;
    padding-top:26px;
    padding-bottom:26px;
      /* margin-top: 100px; */
    position: relative;
    top: 60px;
    min-height: 10vh;
  
  }
  
  .table td,.table th{
    padding:31px 15px 37px;
  }
  .table.custom{
    border-color:black;
    border-top:solid 2px;
    border-bottom:solid 2px;
  }
  
  .table.custom td{
    padding: 16px 0px;
  }
  .banner{
    /* padding-top: 50px;
    padding-top: 50px;
    min-height: 300px; */
    display: block;
    /* position: relative; */
    background-size: cover;
  }
  .banner-overlay{
    background: linear-gradient(258.03deg, rgb(110, 148, 244,.6) 24.72%, rgb(117, 131, 255,.6) 68.84%);
    overflow: hidden;
    /* opacity: .6; */
    /* height: 100%; */
    /* width: 100%; */
    
  
    /* display: block; */
    
  }
  
  .banner .content{
    /* position: absolute;
    top:50%; */
    margin: 200px 0px;
  }
  /* .pagination{
    position: relative;
    left: 50%;
  } */
  
  .tile .tile-content:hover{
    color: #fff;
  }
  
  .tile .tile-content{
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .overlay{
    background-color:rgba(255,255,255,1);
    width: 100%;
    height: 100%;
    
    position: absolute;
    top:0px; left: 0px;
  }
  .overlay-hover{
    transition-duration: 1s;
    transition-property: opacity;
  }
  .overlay-hover:hover{
    opacity: .1;
  } 
  .overlay.overlay-red{
    opacity: .6;
    background-color:rgba(226,92,84,6);
  }
  .overlay.overlay-purple{
    opacity: .6;
  
    background-color:rgba(226,92,84,6);
  }
  .overlay.overlay-green{
    opacity: .6;
  
    background-color:rgba(131, 163, 105,6);
  }
  .overlay.overlay-blue{
    opacity: .6;
  
    background-color:rgba(15, 103, 195,6);
  }
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }