@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');
$headings-font-family:        "Poppins";
$font-family-base:  "Inter"; 

/* Default variable overrides */
$body-bg: #deecfe;
$body-color: #111;
$primary:#7683FF;
$secondary:#EBF1FD;

$border-radius: 8px;
$border-radius-lg:  16px;


$box-shadow-lg: 0px 16px 24px rgba(111, 147, 238, 0.2);



$pagination-active-color: black;
$pagination-active-bg: white;
$pagination-active-border-color: transparent;

/* $pagination-color:                  $link-color;*/
$pagination-bg:                     $secondary;
$pagination-border-width:           0px;
/* $pagination-border-radius:          $border-radius;*/
/* $pagination-margin-start:           -$pagination-border-width;*/
$pagination-border-color:           transparent;

$pagination-padding-y:              .475rem;
$pagination-padding-x:              .85rem;

$input-color:$primary;
$input-bg: $secondary;
$input-border-width:0;


$input-padding-y: 19px;
$input-padding-x: 34px; 

$btn-border-radius-lg:4px;
$btn-border-radius: 4px;